.jumbotron {
    /* background-color:blanchedalmond; */
    height: 90vh;
    background-image: url(../assets/banner-image.jpg);
    background-size: cover;
    background-position: 0% 40%;
    margin-bottom: 0px;

}

.jumbotron .container-fluid {
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-top: 10%;
}

.container-fluid .row {
    height: 10vh;
}

#nav .row .col-sm-4 {
    background-color: cadetblue;
    text-align: center;
    /* 水平＋垂直置中方法： */
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    font-family: 'Noto Serif TC', serif;
}

#nav .row .col-sm-4:hover {
    background-color: white;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
}

.container-fluid .row .col-sm-4 a{
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 0px;
    color: black;
}

#intro{
    height: 10vh;
    background-color: darkslategray;
    color: white;
    text-align: center;
    /* 水平＋垂直置中方法： */
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    font-family: 'Noto Serif TC', serif;
}

#intro-content{
    height: 90vh;
}

#intro-content img{
   margin-top: 20%;
}

#works{
    height: 10vh;
    background-color: darkslategray;
    color: white;
    text-align: center;
    /* 水平＋垂直置中方法： */
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    font-family: 'Noto Serif TC', serif;
}

#works-content{
    height: 140vh;
}

#homework{
    height: 10vh;
    background-color: darkslategray;
    color: white;
    text-align: center;
    /* 水平＋垂直置中方法： */
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
    font-family: 'Noto Serif TC', serif;
}

#homework-content{
    height: 20vh;
}

#footer{
    height: 300px;
    background-color: cadetblue ;
}